.App {
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: white;
  text-align: center;
  
  align-content: center;
}

@media screen and (max-width:900px){
  .App{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width:620px){
  .App{
    margin-top: auto;
    display: grid;
    grid-template-columns: 1fr;
  }
}


.bg-green,.bg-blue,.bg-red,.bg-yell,.bg-pur{
  width: 300px;
  height: 300px;
  
}

.bg-green{background-color: green;}
.bg-blue{background-color: blue;}
.bg-red{background-color: red;}
.bg-yell{background-color: yellow;color: black;}
.bg-pur{background-color: purple;}

.cont{
  display: flex;
  justify-content: center;
  width: 100%;
  height:100vh;
}
@media screen and (max-width:625px){
  .cont{
    height: 100%;
  }
}
h2{
  margin: auto;
}